#slider-body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contenedor--slider .item-slide {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 42vw;
}
.uno{
    background-image: url("https://data.whicdn.com/images/298982598/original.gif");
}
.dos{
    background-image: url("https://i.pinimg.com/originals/46/11/7b/46117b722f7797d1f1d34b5e4755f788.gif");
    

}
.tres{
    background-image: url("https://pa1.narvii.com/6201/3636eb656926c8b108bcdd14a9e2cdcdb539748e_hq.gif");

}
.cuatro{
    
background-image: url("https://i.pinimg.com/originals/79/9d/c7/799dc7bf0a8d3d94f104e275d670ba86.gif");
}
.cinco{
    background-image: url("https://64.media.tumblr.com/408918ead72f5db0e8e02061d05281fe/tumblr_oqv81jzYqA1vz5npso1_540.gifv");

}
/* contendores de parrafo */
.content-div-parrafo{
    overflow: hidden;
    width: 70%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    margin:auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 40px;
   
}
.content-div-parrafo   p{
    border-radius: 40px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.77);
    color: rgb(49, 49, 49);
    padding-bottom: 0px;
    
}
.content-div-parrafo   a{
    background-color:rgb(169, 131, 240) ;
    color: rgb(252, 252, 252);
    padding: 9px 0px;
    text-decoration: none;
    display: block;
    width: 100px;
    margin: 10px auto;
    border-radius: 20px;

}
.content-div-parrafo   a:hover{
    background-color: rgba(216, 202, 202, 0.753);
    color: rgb(148, 93, 185);
}
.contenedor--slider{
    background-color: rgba(255, 255, 255, 0.753);
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.slide{z-index: -100;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 25.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: static;
    background:rgb(169, 131, 240) ;
   padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 4px dashed white
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0%, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}



input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}




input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}



input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}


input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
    background: #fff;
}

@keyframes autoplay{
    10%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    30%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    70%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
}
/* responsive */
@media screen and (max-width:950px) {
    .contenedor--slider .item-slide {
        
        height: 52vw;
    }
    .content-div-parrafo{
        overflow: hidden;
        width: 100%;
        height: 100%;}
}

@media screen and (max-width:750px) {
    .contenedor--slider .item-slide {
        background-position: center;
        height: 65vw;
    }}
@media screen and (max-width:650px) {
    .contenedor--slider .item-slide {
        background-position: center;
        height: 75vw;
    }
    .content-div-parrafo p{
        font-size: 13px;
        color: #000;
}}

@media screen and (max-width:550px) {
    .contenedor--slider .item-slide {
        background-position: center;
        height: 85vw;
    }

}

@media screen and (max-width:450px) {
    .contenedor--slider .item-slide {
        background-position: center;
        height: 100vw;
    }
    .content-div-parrafo p{
        font-size: 9px;
        color: rgb(255, 255, 255);
}

}